html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif ;
    background-image: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
    background-repeat: no-repeat ;
    background-size: cover;
}

#logo{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;

}

/* Navigation */

.topnav {
    height: auto;
    width: 100%;
    margin-top: 4px;
    padding: 10px 50px 0 50px;
    text-align: left;
}
.topnav a {
    display: inline-block;
    color: rgb(201, 201, 201);
    padding: 14px 8px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
}
.topnav a:hover {
    color: black;
    transition: ease-in-out bottom 1s, ease-in-out left 1s;
    bottom: 40px;
}




.name{
    font-family: Comic Sans MS;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    font-size: 100px;
}


.bb{
    width: auto;
    padding: 12px;
    border: none;
    margin: 5px 0;
    display: inline-block;
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
}
